### `2. Tuple`
- Tuple are initialized using `parenthesis`.

In [1]:
tup1 = (1, 2, 3, 4)
print(tup1, type(tup1))

(1, 2, 3, 4) <class 'tuple'>

In [3]:
tup2 = (1000,)
print(tup2, type(tup2))

(1000,) <class 'tuple'>

In [5]:
tup3 = ('abc',)
print(tup3, type(tup3))

('abc',) <class 'tuple'>

- Check data type of any variable using `type()` function.

- concat two or more tuples using `+` operator between two tuples.

In [7]:
tup4 = (1, 2)
tup5 = (5, 6)
tup6 = ('a',)

result_tup = tup4 + tup5 + tup6
print(result_tup)

(1, 2, 5, 6, 'a')

- ELement can be accessed using `index` value which starts from zero.

In [8]:
days = ('MON', 'TUE', 'WED', 'THU', 'FRI')
print(days[1])

TUE

In [9]:
print(days[3])

THU

- Negative Indexing

In [10]:
print(days[-2])

THU

In [11]:
print(days[-5])

MON

- Unpacking of tuples

In [12]:
a, b, c, d = (1, 3, 4, 7)
print(f"{a=}")
print(f"{b=}")
print(f"{c=}")
print(f"{d=}")

a=1
b=3
c=4
d=7

In [13]:
a, *rest_elements = (1, 3, 4, 7)
print(f"{a=}")
print(f"{rest_elements=}")

a=1
rest_elements=[3, 4, 7]

In [14]:
a, b, *rest = (1, 2, 3, 4)
print(f"{a=}")
print(f"{b=}")
print(f"{rest=}")

a=1
b=2
rest=[3, 4]

- Immutable. Elements can't be changed.

- Allows to store `duplicate` values.

In [15]:
a = (1, 2, 3, 1, 5 ,2, 5, 3, 6, 1)
print(a, type(a))

(1, 2, 3, 1, 5, 2, 5, 3, 6, 1) <class 'tuple'>

- Delete entire tuple using `del` keyword

In [16]:
del a
print(a)

NameError: name 'a' is not defined

In [17]:
a = (1, 2, 3, 1, 5 ,2, 5, 3, 6, 1)
a.count(1)

3

In [18]:
a.index(1)

0