## `Dictionaries`
- Key-Value Pair

- Mutable

- Dynamic

- Initialize empty dictionary using curly braces `{}` or `dict()` class.

In [59]:
d1 = {}

In [60]:
print(type(d1), d1)

<class 'dict'> {}

In [61]:
d2 = dict()
print(type(d2), d2)

<class 'dict'> {}

- Initialize dictionary with default values.

In [62]:
d3 = {'age':15, 'height':4.5}
print(d3)

{'age': 15, 'height': 4.5}

In [63]:
d4 = dict(age=20, height=5.0)
print(d4)

{'age': 20, 'height': 5.0}

- Access value of key using square bracket `[]` notation.

In [64]:
d4['age']

20

In [65]:
d4['height']

5.0

In [67]:
d4['salary']

KeyError: 'salary'

- Access value of key using `get()` method.

In [66]:
d4.get('age')

20

In [70]:
print(d4.get('salary', 4))

4

- Add or Update data into dictionary using square bracket `[]` notation.

In [71]:
d4

{'age': 20, 'height': 5.0}

In [72]:
d4['salary'] = 2000
print(d4)

{'age': 20, 'height': 5.0, 'salary': 2000}

In [73]:
d4['height'] = 5.1
print(d4)

{'age': 20, 'height': 5.1, 'salary': 2000}

- Retreive all the keys of dictionary.

In [74]:
d4.keys()

dict_keys(['age', 'height', 'salary'])

- Retreive all the values of dictionary.

In [75]:
d4.values()

dict_values([20, 5.1, 2000])

- Update the dictionary using `update()` method.

In [76]:
a = {'abc':1}
b = {'def':2}

a.update(b)

print('a: ', a)
print('b: ', b)

a:  {'abc': 1, 'def': 2}
b:  {'def': 2}

- Remove specific key-value pair with `pop()`.

In [77]:
print('before removing salary k-v pair: ', d4)
value = d4.pop('salary')
print('after removing salary k-v pair: ', d4)
print('value: ', value)

before removing salary k-v pair:  {'age': 20, 'height': 5.1, 'salary': 2000}
after removing salary k-v pair:  {'age': 20, 'height': 5.1}
value:  2000

- Remove last key-value pair with `popitem()`. (from V3.7)

In [78]:
d4

{'age': 20, 'height': 5.1}

In [79]:
print('before removing salary k-v pair: ', d4)
return_value = d4.popitem()
print('after removing salary k-v pair: ', d4)
print('return_value: ', return_value)

before removing salary k-v pair:  {'age': 20, 'height': 5.1}
after removing salary k-v pair:  {'age': 20}
return_value:  ('height', 5.1)

- Remove specific key-value pair using `del` keyword. (Also used to remove entire dictionary.)

In [80]:
d4

{'age': 20}

In [81]:
del d4['age']

In [82]:
print(d4)

{}

- Remove all key-value pairs using `clear()` method.

In [83]:
d = {'a':1, 'b':2}
print('before ', d)

d.clear()

print('after ', d)

before  {'a': 1, 'b': 2}
after  {}

- Get key-value pairs as tuples in list using `items()`.

In [84]:
d = {'a':1, 'b':2}

d.items()

dict_items([('a', 1), ('b', 2)])